{% extends 'acceuil/base.html' %}

{% block content %}
<div class="futuristic-form">
    <h2 class="neon-text">Réinitialisation du mot de passe</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_email">Adresse email</label>
            <input type="email" name="email" id="id_email" required class="form-control">
        </div>
        <button type="submit" class="action-btn">Envoyer le lien</button>
    </form>
</div>
{% endblock %}
